.container {
  background-color: limegreen;
  background-repeat: repeat;
}
html {
  background-color: limegreen;
}

body {
  background-color: limegreen;
}
.container ul {
  columns: 2;
}
.container hr {
  background-color: magenta;
  opacity: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#month {
  background-color: purple;
  border-color: black;
}
#gender {
  background-color: purple;
  border-color: black;
}
#year {
  background-color: purple;
  border-color: black;
  border: 800px;
}
#day {
  background-color: purple;
  border-color: black;
}
